*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    background-color: rgb(2, 27, 70);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 1rem;
    background-image: linear-gradient(rgb(100,100,100), rgb(300,300,300));
    box-shadow: 0 0 10px 1px #000;
    transition: scale 0.3s;
}
.card:hover{
    scale: 1.09;
}
.card a:active{
    box-shadow: 2px 2px 10px 1px #000;
}
.card p{
    text-align: justify;
}
.card h3{
    text-transform: ;
}
.card p::first-letter{
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    color: hsl(200, 50%, 10%);
}
.card a{
    background-color: hsl(200, 50%, 10%);
    padding: .3rem .1rem;
    display: inline-block;
    width: 6rem;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

